.auth-page {
  .auth-left-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1325306868/photo/businessman-logging-on-to-a-password-protected-website.jpg?b=1&s=170667a&w=0&k=20&c=59zsqoIMdY28iFlz08RWPBJjE6v3LO9I_-nj144ESqE=);
    background-size: cover;
  }
}